

.button {
  cursor: pointer;
  background-color: var(--default-color);
  padding: 10px;
  margin: 0 10px;
  border-radius: 20px;
}


.button:active {
    border: 2px solid var(--default-color);
    background-color: white;
    padding: 8px;
  }